:root {
  --music-section-left: 230px;
  --music-section-left-pad: 30px;
  --gap: 15px;
}

@media (min-width: 1280px) {
  :root {
    --gap: 30px;
    --music-section-left: 276px;
    --music-section-left-pad: 76px;
  }
}

h1,
p,
span,
a {
  pointer-events: auto;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  position: fixed;
}

.landing-page {
  height: 100%;
  width: 100%;
  background: hsl(0, 0%, 5%);
  position: absolute;
  z-index: 5;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.landing-page.show,
.landing-text .dev-name.show,
.landing-text .description.show {
  opacity: 1;
  display: flex;
}

.landing-page.none {
  display: none;
}

.landing-page .landing-text {
  align-self: center;
  display: flex;
  transition: opacity 0.4s ease;
}

.landing-text .dev-name {
  margin-right: 15px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.landing-text .description {
  font-weight: 100;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.page.dark {
  background: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 90%);
}

.page.light {
  background: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 5%);
}

.page a {
  text-decoration: none;
  color: unset;
}

.page a:hover {
  opacity: 0.25;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

ul {
  list-style: none;
  padding: 0;
}

.page .transparent-boxes {
  width: 100%;
  height: 100%;
  position: absolute;
}

.page.light .transparent-boxes .box {
  background-color: hsl(0, 0%, 90%) !important;
}

.transparent-boxes .box {
  position: absolute;
  opacity: 0.7;
  z-index: 4;
  background-color: hsl(0, 0%, 5%);
}

@media (min-width: 1280px) {
  .transparent-boxes .box {
    opacity: 0.8;
  }
}

.toggle-color {
  display: flex;
  transform: rotate(270deg) translateY(15px) translateX(15px);
  margin-top: auto;
  position: absolute;
  bottom: 0;
  transform-origin: bottom left;
}

@media (max-width: 1280px) {
  .toggle-color {
    line-height: 15px !important;
  }
}

@media (min-width: 1280px) {
  .toggle-color {
    transform: rotate(270deg) translateY(30px) translateX(30px) !important;
  }
}

.color-setter {
  display: flex;
  align-items: center;
  font-weight: 200;
  cursor: pointer;
}

.color-setter.dark {
  margin-left: 15px;
}

.color-setter .checkbox {
  height: 10px;
  width: 10px;
  border: 1px solid hsl(0, 0%, 90%);
  margin-left: 3px;
}

.color-setter .checkbox.checked {
  background: hsl(0, 0%, 90%);
}

.page.light .color-setter .checkbox {
  border: 1px solid hsl(0, 0%, 5%);
}

.page.light .color-setter .checkbox.checked {
  background: hsl(0, 0%, 5%);
}

.transparent-boxes .box-bottom,
.transparent-boxes .box-top {
  height: var(--gap);
  width: 100%;
}

.transparent-boxes .box-left,
.transparent-boxes .box-right {
  height: 100%;
  width: (--gap);
}

.transparent-boxes .box-top {
  top: 0;
}

.transparent-boxes .box-bottom {
  bottom: 0;
}

.transparent-boxes .box-right {
  right: 0;
}
.transparent-boxes .box-left {
  left: 0;
}

.page .page-container {
  display: flex;
  align-self: stretch;
  width: 100%;
  margin: var(--gap);
  flex-direction: column;
  position: relative;
}

.page.light .page-container {
  border: 0.5px solid hsl(0, 0%, 5%);
}

.page.dark .page-container {
  border: 0.5px solid hsl(0, 0%, 90%);
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
}

.scene {
  z-index: 1;
}

.page-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--gap);
  position: relative;
}

.page .header-container {
  z-index: 3;
  pointer-events: none;
}

@media (max-width: 700px) {
  .page .header-container {
    width: 0;
  }
}

@media (min-width: 1280px) {
  .page .header .title {
    font-size: 60px !important;
  }
}

@media (min-width: 1280px) {
  .page .header .title {
    font-size: 60px !important;
  }
}

.page .header {
  padding-bottom: 30px;
}

.page .header .title {
  white-space: nowrap;
  font-size: 30px;
  font-weight: 200 !important;
}

.page .header .label {
  font-size: 15px;
  font-weight: 200;
  white-space: nowrap;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.nav {
  display: flex;
  height: fit-content;
  z-index: 3;
  width: fit-content;
}

.nav ul li {
  margin-bottom: 15px;
  position: relative;
  line-height: 15px;
}

.nav ul li .dot {
  font-size: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  max-height: 10px;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.nav ul li.active .dot {
  opacity: 1;
  visibility: visible;
}

.nav ul li a,
.nav ul li .nav-link {
  z-index: 3;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-transform: capitalize;
}

.nav ul li a:hover,
.nav ul li .nav-link:hover {
  opacity: 0.25;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.nav ul li.active a,
.nav ul li.active .nav-link {
  visibility: hidden;
}

.content-container {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  padding: inherit;
  position: absolute;
}

.list-container {
  flex: 1;
  margin-top: 20px;
  row-gap: 15px;
  display: flex;
  flex-direction: column;
}

.list-container.row {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.list-container.row li {
  margin-left: 20px;
}

.list-container.row .list-title {
  font-size: 25px;
}

@media (min-width: 1280px) {
  .list-container {
    margin-top: 50px;
  }

  .list-container.row .list-title {
    font-size: 45px;
  }
}

.list-container li {
  width: fit-content;
  margin-left: auto;
  display: flex;
  position: relative;
}

.list-container .list-image {
  width: 131.04px;
  height: 74.62px;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: -131.04px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in, transform 0.5s;
}

@media (min-width: 1280px) {
  .list-container .list-image {
    width: 201.6px;
    height: 114.8px;
    left: -201.6px;
  }
}

.list-container .list-image.show {
  opacity: 1;
  z-index: 4;
  visibility: visible;
  transform: translateX(-50%) scale(1.5);
}

.list-container .list-image img {
  height: 100%;
  width: 100%;
}

h1.list-title,
h2.list-title {
  font-weight: 200;
  font-size: 15px;
  display: flex;
  flex-direction: row-reverse;
}

.list-container .list-item {
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  position: relative;
  z-index: 3;
}

.list-container .list-item:hover {
  opacity: 0.25;
}

@media (min-width: 1280px) {
  .list-container .list-item {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 15px;
  }
}

.list-container .list-title {
  font-weight: 100;
  font-size: 30px;
  text-align: right;
  line-height: 30px;
}

@media (min-width: 1280px) {
  .list-container .list-title {
    font-size: 60px;
    line-height: 62px;
  }
}

@media (max-width: 1280px) {
  .list-container .list-item {
    display: flex;
    flex-direction: column-reverse;
  }

  .list-container .list-info {
    align-self: flex-end;
  }
}

.cursor {
  width: 0px;
  height: 0px;
  background: hsl(0, 0%, 5%);
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: hsl(0, 0%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.3s ease, width 0.3s ease, height 0.3s ease,
    transform 0.3s ease;
  opacity: 0;
}

.page.dark .cursor {
  color: hsl(0, 0%, 5%);
  background: hsl(0, 0%, 90%);
}

.cursor.show {
  opacity: 1;
  width: 80px;
  height: 80px;
}

.cursor.click {
  transform: translate(-50%, -50%) scale(1.5);
}

.cursor span {
  width: fit-content;
  display: none;
  z-index: 4;
}

.cursor span.show {
  display: block;
}
