:root {
  --music-section-left: 276px;
  --music-section-left-pad: 76px;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  position: fixed;
}

.landing-page {
  height: 100%;
  width: 100%;
  background: hsl(0, 0%, 5%);
  position: absolute;
  z-index: 5;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.landing-page.show,
.landing-text .dev-name.show,
.landing-text .description.show {
  opacity: 1;
  display: flex;
}

.landing-page.none {
  display: none;
}

.landing-page .landing-text {
  align-self: center;
  display: flex;
  transition: opacity 0.4s ease;
}

.landing-text .dev-name {
  margin-right: 15px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.landing-text .description {
  font-weight: 100;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.page.dark {
  background: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 90%);
}

.page.light {
  background: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 5%);
}

.page a {
  text-decoration: none;
  color: unset;
}

.page a:hover {
  opacity: 0.25;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

ul {
  list-style: none;
  padding: 0;
}

.page .transparent-boxes {
  width: 100%;
  height: 100%;
  position: absolute;
}

.page.light .transparent-boxes .box {
  background-color: hsl(0, 0%, 90%) !important;
}

.transparent-boxes .box {
  position: absolute;
  opacity: 0.8;
  z-index: 3;
  background-color: hsl(0, 0%, 5%);
}

.toggle-color {
  display: flex;
  transform: rotate(270deg) translateY(15px) translateX(15px);
  margin-top: auto;
  position: absolute;
  bottom: 0;
  transform-origin: bottom left;
}

@media (max-width: 1280px) {
  .toggle-color {
    line-height: 15px !important;
  }
}

@media (min-width: 1280px) {
  .toggle-color {
    transform: rotate(270deg) translateY(30px) translateX(30px) !important;
  }
}

.color-setter {
  display: flex;
  align-items: center;
  font-weight: 200;
  cursor: pointer;
}

.color-setter.dark {
  margin-left: 15px;
}

.color-setter .checkbox {
  height: 10px;
  width: 10px;
  border: 1px solid hsl(0, 0%, 90%);
  margin-left: 3px;
}

.color-setter .checkbox.checked {
  background: hsl(0, 0%, 90%);
}

.page.light .color-setter .checkbox {
  border: 1px solid hsl(0, 0%, 5%);
}

.page.light .color-setter .checkbox.checked {
  background: hsl(0, 0%, 5%);
}

@media (min-width: 1280px) {
  .transparent-boxes .box-bottom,
  .transparent-boxes .box-top {
    height: 30px !important;
  }

  .transparent-boxes .box-left,
  .transparent-boxes .box-right {
    width: 30px !important;
  }
}

.transparent-boxes .box-bottom,
.transparent-boxes .box-top {
  height: 15px;
  width: 100%;
}

.transparent-boxes .box-left,
.transparent-boxes .box-right {
  height: 100%;
  width: 15px;
}

.transparent-boxes .box-top {
  top: 0;
}

.transparent-boxes .box-bottom {
  bottom: 0;
}

.transparent-boxes .box-right {
  right: 0;
}
.transparent-boxes .box-left {
  left: 0;
}

.page .page-container {
  display: flex;
  align-self: stretch;
  width: 100%;
  margin: 15px;
  flex-direction: column;
  position: relative;
}

.page.light .page-container {
  border: 0.5px solid hsl(0, 0%, 5%);
}

.page.dark .page-container {
  border: 0.5px solid hsl(0, 0%, 90%);
}

@media (min-width: 1280px) {
  .page-container {
    margin: 30px !important;
  }
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
}

.page-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
  position: relative;
}

@media (min-width: 1280px) {
  .page-inner {
    padding: 30px !important;
  }
}

.page .header-container {
  z-index: 3;
}

@media (min-width: 1280px) {
  .page .header .title {
    font-size: 60px !important;
  }
}

.page .header {
  padding-bottom: 30px;
}

.page .header .title {
  white-space: nowrap;
  font-size: 30px;
  font-weight: 200 !important;
}

.page .header .label {
  font-size: 15px;
  font-weight: 200;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.nav {
  display: flex;
  height: fit-content;
  z-index: 3;
  width: fit-content;
}

.nav ul li {
  margin-bottom: 15px;
  position: relative;
  line-height: 15px;
}

.nav ul li .dot {
  font-size: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  max-height: 10px;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.nav ul li.active .dot {
  opacity: 1;
  visibility: visible;
}

.nav ul li a {
  z-index: 3;
  transition: all 0.4s ease-in-out;
}

.nav ul li a:hover {
  opacity: 0.25;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.nav ul li.active a {
  visibility: hidden;
}

.content-container {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  padding: inherit;
  position: absolute;
}

.page-content {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  right: 0;
  visibility: hidden;
}

.nav-content div {
  height: fit-content;
}

div.visible-page {
  display: flex;
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

.home {
  bottom: 0;
}

.home .content-text {
  width: 150px;
  height: fit-content;
  line-height: 22px;
}

.projects {
  flex-direction: column;
  /* transition: all; */
  padding: 83px 0;
}

.list-container {
  flex: 1;
  margin-top: 20px;
  row-gap: 15px;
  display: flex;
  flex-direction: column;
}

.list-container.row {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.list-container.row li {
  margin-left: 20px;
}

.list-container.row .list-title {
  font-size: 25px;
}

@media (min-width: 1280px) {
  .list-container {
    margin-top: 50px;
  }

  .list-container.row .list-title {
    font-size: 45px;
  }
}

.list-container li {
  width: fit-content;
  margin-left: auto;
  display: flex;
  position: relative;
}

.list-container .list-image {
  background: yellow;
  width: 201.6px;
  height: 114.8px;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: -201.6px;
  /* margin-left: -20px; */
  opacity: 0;
  transition: opacity 0.3s ease-in, transform 0.5s;
}

.list-container .list-image.show {
  opacity: 1;
  z-index: 4;
  transform: translateX(-50%) scale(1.5);
}

@media (min-width: 1280px) {
  .projects {
    padding: 119px 0;
  }
}

.projects .second {
  margin-top: 100px;
}

h1.list-title,
h2.list-title {
  font-weight: 200;
  font-size: 15px;
  display: flex;
  flex-direction: row-reverse;
}

.list-container .list-item {
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  position: relative;
  z-index: 3;
}

.list-container .list-item:hover {
  opacity: 0.25;
}

@media (min-width: 1280px) {
  .list-container .list-item {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 15px;
  }
}

.list-container .list-title {
  font-weight: 100;
  font-size: 30px;
  text-align: right;
  line-height: 30px;
}

@media (min-width: 1280px) {
  .list-container .list-title {
    font-size: 60px;
    line-height: 62px;
  }
}

@media (max-width: 1280px) {
  .list-container .list-item {
    display: flex;
    flex-direction: column-reverse;
  }

  .list-container .list-info {
    align-self: flex-end;
  }
}

@media (min-width: 1280px) {
  .about {
    width: 50%;
    padding: 119px 0 !important;
  }

  .about .music {
    width: 100%;
  }

  .music .song-container {
    padding: 7px 20px !important;
  }

  .music .song {
    justify-content: space-between;
  }

  .song .right {
    align-self: center;
  }
}

.about {
  width: 75%;
  padding: 83px 0;
  display: flex;
  flex-direction: column;
}

.about-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.about-category .title {
  margin-left: auto;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 200;
}

@media (min-width: 1280px) {
  .category-content {
    flex-direction: row !important;
    margin-bottom: 60px !important;
    /* margin-right: calc(var(--music-section-left-pad) / 2); */
  }

  .category-content .left-text {
    font-size: 20px !important;
    font-weight: 600 !important;
    margin-top: 10px !important;
  }

  .category-content .section-left {
    margin-right: var(--music-section-left-pad);
    margin-top: 50px !important;
  }

  .category-content .left-text {
    font-weight: 600 !important;
  }
}

.category-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.category-content .section-left {
  width: var(--music-section-left);
  height: fit-content;
  margin-top: 20px;
}

@media (max-width: 1280px) {
  .category-content .section-left {
    text-align: end;
    margin-left: auto;
    margin-right: 15px;
  }

  .category-content .left-title,
  .category-content .left-text {
    margin-right: 15px;
  }
}

.category-content .left-title {
  font-size: 11px;
  color: rgba(235, 235, 245, 0.6);
}

.page.light .category-content .left-title {
  color: rgba(20, 20, 10, 0.6);
}

.category-content .left-text {
  font-size: 15px;
  line-height: 1.1666666667;
  font-weight: 400;
  letter-spacing: 0.007em;
  margin-top: 5px;
}

.category-content .section-right {
  width: calc(100% - var(--music-section-left) - var(--music-section-left-pad));
}

.page.light .most-listened-songs .right {
  color: rgba(20, 20, 10, 0.3);
}

@media (min-width: 1280px) {
  .most-listened-songs .song-index {
    width: 40px;
  }
}

@media (max-width: 1280px) {
  .music .most-listened-songs .song {
    flex-direction: column;
  }

  .most-listened-songs .right {
    margin-left: 75px;
  }
}

.most-listened-artists .artist-container {
  padding: 14px 0;
  display: flex;
  justify-content: center;
}

.most-listened-artists .artist-art {
  height: 54px;
  width: 54px;
  transform: translateY(-17.5%);
  position: absolute;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.13);
  left: -70px;
}

.most-listened-artists .album-art-img {
  width: 100%;
  display: block;
  border-radius: 50%;
}

.page.light .most-listened-artists .album-art-img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.most-listened-artists .artist-info {
  text-align: center;
  position: relative;
}

.most-listened-artists .artist-name {
  line-height: 1.1764905882;
  font-weight: 600;
  letter-spacing: 0.005em;
  margin: 0;
  cursor: pointer;
  font-size: 28px;
}

.most-listened-artists .listening-time {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: 0em;
  margin: 5px 0 0 0;
  color: rgba(235, 235, 245, 0.6);
}

.developer .list-container .list-info,
.music .list-container .list-info {
  color: rgba(235, 235, 245, 0.6);
}

.page.light .developer .list-container .list-info,
.page.light .music .list-container .list-info {
  color: rgba(235, 235, 245, 0.6);
  color: rgba(20, 20, 10, 0.6);
}

.page.light .most-listened-artists .listening-time {
  color: rgba(20, 20, 10, 0.6);
}

.info {
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.info .info-page > div,
.info p {
  width: fit-content;
}

@media (max-width: 1280px) {
  .info {
    bottom: 0;
    height: fit-content;
    width: fit-content;
  }

  .info .info-page {
    display: contents;
  }

  .info .info-page > div,
  .info .middle p {
    align-self: flex-end;
  }

  .info .middle {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
  }
}

@media (min-width: 1280px) {
  .info {
    width: 50%;
  }

  .info .info-page > div {
    position: absolute;
  }

  .info .top,
  .info .bottom {
    right: 0;
  }

  .info .middle {
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    height: fit-content;
  }

  .info .bottom {
    bottom: 0;
  }
}

.contact,
.art {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.contact .email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .top {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.contact .bottom {
  font-size: 30px;
  font-weight: 200;
}

@media (min-width: 1280px) {
  .email-container .bottom {
    font-size: 60px;
  }

  .contact .underline {
    height: 5px;
  }
}

.contact .underline {
  height: 2px;
  width: 100%;
  background: hsl(0, 0%, 5%);
}

.page.dark .contact .underline {
  background: hsl(0, 0%, 90%);
}

.cursor {
  width: 0px;
  height: 0px;
  background: hsl(0, 0%, 5%);
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: hsl(0, 0%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.3s ease, width 0.3s ease, height 0.3s ease,
    transform 0.3s ease;
  opacity: 0;
}

.page.dark .cursor {
  color: hsl(0, 0%, 5%);
  background: hsl(0, 0%, 90%);
}

.cursor.show {
  opacity: 1;
  width: 80px;
  height: 80px;
}

.cursor.click {
  transform: translate(-50%, -50%) scale(1.5);
  /* background-color: hsl(0, 0%, 5%); */
}

.cursor span {
  width: fit-content;
  display: none;
  z-index: 4;
}

.cursor span.show {
  display: block;
}
